<div>
    <div class="text-center">
        <button class="btn btn-success my-3" onclick="location.href = '/login'">Ir a Login</button>
      </div>
  <h1 class="text-center mt-4">Lista de Productos</h1>
  <section class="p-5">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Category</th>
          <th>Price</th>
          <th>Code</th>
          <th>Stock</th>
          <th>Status</th>
          {{!-- <th>Thumbnails</th> --}}
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.category}}</td>
            <td>{{this.price}}</td>
            <td>{{this.code}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.status}}</td>
            {{!-- <td>
              <img
                width="100px"
                src="{{this.thumbnails}}"
                alt="{{this.title}}"
              /></td> --}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</div>