<div class="container mx-auto">
  <h1 class="text-center mt-4 text-3xl font-bold">Lista de Productos</h1>
  <section class="p-5">
    <table class="min-w-full bg border border-gray-300">
      <thead>
        <tr class="bg-gray-100 border-b">
          <th class="py-2 px-4 border-r">ID</th>
          <th class="py-2 px-4 border-r">Title</th>
          <th class="py-2 px-4 border-r">Description</th>
          <th class="py-2 px-4 border-r">Category</th>
          <th class="py-2 px-4 border-r">Price</th>
          <th class="py-2 px-4 border-r">Code</th>
          <th class="py-2 px-4 border-r">Stock</th>
          <th class="py-2 px-4 border-r">Status</th>
          <th class="py-2 px-4">Thumbnails</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr class="border-b">
            <td class="py-2 px-4">{{this.id}}</td>
            <td class="py-2 px-4">{{this.title}}</td>
            <td class="py-2 px-4">{{this.description}}</td>
            <td class="py-2 px-4">{{this.category}}</td>
            <td class="py-2 px-4">{{this.price}}</td>
            <td class="py-2 px-4">{{this.code}}</td>
            <td class="py-2 px-4">{{this.stock}}</td>
            <td class="py-2 px-4">{{this.status}}</td>
            <td class="py-2 px-4">
              <img
                class="w-24 h-24 object-cover"
                src="{{this.thumbnails}}"
                alt="{{this.title}}"
              />
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</div>